*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.sidenav{
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    margin: 10px;
}

.females{
height: 80px;
width: 110px;
background-color: pink;
}

.males{
    height: 80px;
    width: 110px;
    background-color: blue; 
}
.total{
    height: 80px;
    width: 110px;
    background-color: red; 
}

.restotal{
    height: 80px;
    width: 110px;
    background-color: grey; 
}